*{
    padding: 0;
    margin:0;
    background-color:bisque
}
.fixedbg {
    background-image: url("img1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.para{
    padding-left: 480px;
    font-size: 40px;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.consumer{
    padding-left: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
div.secondphase{
    padding-left: 280px;
    font-size: larger;
}
input {
    display: block;
    width: 200px;
    padding: 5px 20px;
    border-radius: 2em;
    color: rgb(107, 67, 119);
}
input,
input::placeholder {
    font: 15px sans-serif;
    color: rgb(0, 0, 0);
}

a:link, a:visited {
    border-radius: 2em;
    background-color: rgb(255, 228, 196);
    color: black;
    border: 2px solid rgb(107, 67, 119);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color:coral;
    border-radius: 2em;
    color: white;
  }

